.wrap {
  padding-left: 21px;
  margin-top: 24px;
  /* position: sticky; */
}

.iconsWrap {
  display: flex;
  align-items: center;
  gap: 18px;
}

.iconsWrap svg path {
  fill: #555a64;
}

.iconsWrap svg:hover,
.iconsWrap svg:focus,
.iconsWrap svg:active {
  cursor: pointer;
}
.iconsWrap svg:hover path,
.iconsWrap svg:focus path,
.iconsWrap svg:active path {
  fill: #735fff;
}

.header {
  font-weight: 600;
  color: #14193c;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}

[data-theme='dark'] .header {
  color: #d2d7e1;
}

[data-theme='dark'] .iconsWrap svg path {
  fill: #828791;
}

[data-theme='dark'] .iconsWrap svg:hover path,
[data-theme='dark'] .iconsWrap svg:focus path,
[data-theme='dark'] .iconsWrap svg:active path {
  fill: #735fff;
}
