.headerLink {
  composes: base from './menuItemShared.module.css';
  text-decoration: none;
  justify-content: center;
  height: auto;
}

.headerLink:hover {
  color: #505578;
}

[data-theme='dark'] .headerLink:hover {
  color: #e1e6f0 !important;
}

.inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  composes: title from './menuItemShared.module.css';
}

@media (max-width: 996px) {
  .headerLink {
    height: 54px;
    border-bottom: 1px solid #dce1eb;
    justify-content: space-between;
    padding-left: 8px;
    box-sizing: border-box;
  }

  .inner {
    justify-content: space-between;
  }
}
