.subMenuItem {
  composes: base from './menuItemShared.module.css';
  gap: 10px;
  height: 40px;
  padding: 0 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  min-width: 180px;
  text-decoration: none;
  break-inside: avoid;
}

.subMenuItem:hover {
  background-color: #f0f0ff;
}

[data-theme='dark'] .subMenuItem:hover {
  background-color: #606060;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.title {
  composes: title from './menuItemShared.module.css';
}

@media (max-width: 996px) {
  .subMenuItem {
    height: 54px;
    margin-bottom: 0;
    border-radius: 0;
    min-width: unset;
    border-bottom: 1px solid #dce1eb;
    box-sizing: border-box;
  }

  .subMenuItem:hover {
    background-color: transparent;
    color: #505578;
  }

  [data-theme='dark'] .subMenuItem:hover {
    background-color: transparent;
    color: #e1e6f0;
  }
}
