.subMenu {
  position: relative;
  padding-left: 8px;
  font-size: 18px;
  color: #14193c;
}

.button {
  composes: base from './menuItemShared.module.css';
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  gap: 5px;
  background: transparent;
  border: none;
  font-family: var(--ifm-font-family-base);
  font-size: 16px;
  line-height: 1.4;
}

.buttonTitle {
  composes: title from './menuItemShared.module.css';
}

[data-theme='dark'] .subMenu {
  color: #e1e6f0;
}

@media (min-width: 996px) {
  .button:hover {
    color: #505578;
  }
}

.arrow {
  width: 10px;
  height: auto;
  flex-shrink: 0;
}

[data-theme='dark'] .arrow path {
  stroke: #e1e6f0;
}

[data-theme='dark'] .button:hover {
  color: #e1e6f0 !important;
}

@media (max-width: 996px) {
  .subMenu {
    padding-left: 0;
    border-bottom: none;
  }

  .arrow {
    width: 15px;
  }

  .button {
    height: 54px;
    padding-left: 8px;
    border-bottom: 1px solid #dce1eb;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
  }
}
